In [44]:
import numpy 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [45]:
# Importing libraries for building the neural network
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

In [ ]:
from sklearn.utils import shuffle
from keras.optimizers import Adam
from sklearn.preprocessing import StandardScaler

In [59]:
headers = [' Age ','Gender','TB','DB','Alkphos','sgpt','sgot','TP','ALB','A/G','Label']
file = pd.read_csv('Indian Liver Patient Dataset (ILPD).csv',sep=',',header=None)
file.columns = headers
file.head()

    Age   Gender    TB   DB  Alkphos  sgpt  sgot   TP  ALB   A/G  Label
0     65  Female   0.7  0.1      187    16    18  6.8  3.3  0.90      1
1     62    Male  10.9  5.5      699    64   100  7.5  3.2  0.74      1
2     62    Male   7.3  4.1      490    60    68  7.0  3.3  0.89      1
3     58    Male   1.0  0.4      182    14    20  6.8  3.4  1.00      1
4     72    Male   3.9  2.0      195    27    59  7.3  2.4  0.40      1

In [60]:
file.groupby('Label').size()

Label
1    416
2    167
dtype: int64

In [61]:
data = file
data = data.dropna()
data = shuffle(data)
data.rename(columns= {'Gender' : 'Male'}, inplace = True)
le = LabelEncoder()
le.fit(data['Male'])
le2 = LabelEncoder()
le2.fit(data['Label'])
data['Male'] = le.transform(data['Male'])
data['Label'] = le2.transform(data['Label'])
#Y_data = data['Label']
#X_data = data.drop(columns = 'Label')

In [89]:
sc = StandardScaler() 
data=data.dropna()
data2 = sc.fit_transform(data)
scaled_df = pd.DataFrame(data, columns=[' Age ','Gender','TB','DB','Alkphos','sgpt','sgot','TP','ALB','A/G'])

data[' Age '], data['Alkphos'], data['sgpt'], data['sgot'],data['TP'],data['ALB'],data['TB'],data['DB'] = dt[' Age '], dt['Alkphos'], dt['sgpt'], dt['sgot'] ,dt['TP'],dt['ALB'],dt['TB'],dt['DB']
#data[' Age '] = dt[' Age ']

In [90]:
#scaled_df.head()

In [91]:
Y_data = data['Label']
X_data = data.drop(columns = 'Label')

In [92]:
X_data.head()
#Y_data.head()

,Age,Male,TB,DB,Alkphos,sgpt,sgot,TP,ALB,A/G
186,2.049487,1,-0.372106,-0.424343,-0.572695,-0.290267,-0.139553,-0.167659,-0.048523,0.69
167,-0.356766,0,-0.275680,-0.246664,-0.252171,0.037557,-0.125741,1.401035,1.085338,0.47
295,0.753812,1,0.190383,0.286373,0.097118,0.212397,-0.018697,0.478274,1.085338,0.90
321,-0.480164,0,-0.404249,-0.459878,-0.395996,-0.115428,-0.243144,1.585587,2.345183,1.10
396,1.432499,1,-0.420320,-0.459878,-0.432979,-0.344905,-0.329470,-0.075383,0.833369,1.10

In [93]:
X_train = X_data[:400]
X_test = X_data[400:]
Y_train = Y_data[:400]
Y_test = Y_data[400:]
#Y_data.head()

In [126]:
model = Sequential()
#model.add(Dense(units = 9,activation = 'relu',input_dim = 10))
#model.add(Dense(units = 6,activation = 'relu'))
#model.add(Dense(units = 10,activation = 'relu'))
#model.add(Dense(units = 1,kernel_initializer= 'normal', activation = 'sigmoid'))
model.add(Dense(units = 1,kernel_initializer= 'normal', activation = 'sigmoid',input_dim = 10))

In [127]:
#model.compile(tf.keras.optimizers.Adam(lr = .0001),loss = 'binary_crossentropy', metrics = ['accuracy'])
model.compile(optimizer= Adam(lr = 0.01),loss= 'binary_crossentropy', metrics= ['accuracy'])

In [128]:
model.fit(X_train,Y_train, epochs = 30,batch_size = 10,shuffle = True, verbose = 2,validation_data=(X_test,Y_test))

Train on 400 samples, validate on 175 samples
Epoch 1/30
 - 0s - loss: 0.6461 - acc: 0.6775 - val_loss: 0.6171 - val_acc: 0.7086
Epoch 2/30
 - 0s - loss: 0.6021 - acc: 0.7175 - val_loss: 0.6118 - val_acc: 0.7086
Epoch 3/30
 - 0s - loss: 0.5993 - acc: 0.7200 - val_loss: 0.6165 - val_acc: 0.7086
Epoch 4/30
 - 0s - loss: 0.5968 - acc: 0.7200 - val_loss: 0.6205 - val_acc: 0.7086
Epoch 5/30
 - 0s - loss: 0.5958 - acc: 0.7200 - val_loss: 0.6197 - val_acc: 0.7086
Epoch 6/30
 - 0s - loss: 0.5934 - acc: 0.7200 - val_loss: 0.6195 - val_acc: 0.7086
Epoch 7/30
 - 0s - loss: 0.5912 - acc: 0.7200 - val_loss: 0.6145 - val_acc: 0.7086
Epoch 8/30
 - 0s - loss: 0.5888 - acc: 0.7200 - val_loss: 0.6166 - val_acc: 0.7086
Epoch 9/30
 - 0s - loss: 0.5901 - acc: 0.7150 - val_loss: 0.6226 - val_acc: 0.7086
Epoch 10/30
 - 0s - loss: 0.5864 - acc: 0.7175 - val_loss: 0.6238 - val_acc: 0.7086
Epoch 11/30
 - 0s - loss: 0.5883 - acc: 0.7200 - val_loss: 0.6202 - val_acc: 0.7086
Epoch 12/30
 - 0s - loss: 0.5850 - acc: 0.7225 - val_loss: 0.6249 - val_acc: 0.7086
Epoch 13/30
 - 0s - loss: 0.5845 - acc: 0.7200 - val_loss: 0.6219 - val_acc: 0.7086
Epoch 14/30
 - 0s - loss: 0.5831 - acc: 0.7200 - val_loss: 0.6294 - val_acc: 0.7086
Epoch 15/30
 - 0s - loss: 0.5831 - acc: 0.7175 - val_loss: 0.6283 - val_acc: 0.7086
Epoch 16/30
 - 0s - loss: 0.5856 - acc: 0.7200 - val_loss: 0.6339 - val_acc: 0.7086
Epoch 17/30
 - 0s - loss: 0.5849 - acc: 0.7150 - val_loss: 0.6294 - val_acc: 0.6971
Epoch 18/30
 - 0s - loss: 0.5815 - acc: 0.7175 - val_loss: 0.6325 - val_acc: 0.7143
Epoch 19/30
 - 0s - loss: 0.5811 - acc: 0.7200 - val_loss: 0.6290 - val_acc: 0.7029
Epoch 20/30
 - 0s - loss: 0.5802 - acc: 0.7175 - val_loss: 0.6358 - val_acc: 0.7086
Epoch 21/30
 - 0s - loss: 0.5798 - acc: 0.7200 - val_loss: 0.6302 - val_acc: 0.7086
Epoch 22/30
 - 0s - loss: 0.5785 - acc: 0.7200 - val_loss: 0.6324 - val_acc: 0.7086
Epoch 23/30
 - 0s - loss: 0.5797 - acc: 0.7175 - val_loss: 0.6327 - val_acc: 0.7029
Epoch 24/30
 - 0s - loss: 0.5776 - acc: 0.7200 - val_loss: 0.6368 - val_acc: 0.7029
Epoch 25/30
 - 0s - loss: 0.5773 - acc: 0.7200 - val_loss: 0.6354 - val_acc: 0.7029
Epoch 26/30
 - 0s - loss: 0.5780 - acc: 0.7175 - val_loss: 0.6381 - val_acc: 0.7029
Epoch 27/30
 - 0s - loss: 0.5778 - acc: 0.7150 - val_loss: 0.6259 - val_acc: 0.7086
Epoch 28/30
 - 0s - loss: 0.5777 - acc: 0.7200 - val_loss: 0.6369 - val_acc: 0.7086
Epoch 29/30
 - 0s - loss: 0.5752 - acc: 0.7200 - val_loss: 0.6350 - val_acc: 0.7029
Epoch 30/30
 - 0s - loss: 0.5748 - acc: 0.7175 - val_loss: 0.6336 - val_acc: 0.7086

In [59]:
data.head()

      Age   Gender    TB   DB  Alkphos  sgpt  sgot   TP  ALB   A/G  Label
550     46    Male   3.3  1.5      172    25    41  5.6  2.4  0.70      1
581     31    Male   1.3  0.5      184    29    32  6.8  3.4  1.00      1
314     26    Male   2.0  0.9      195    24    65  7.8  4.3  1.20      1
560     66    Male  15.2  7.7      356   321   562  6.5  2.2  0.40      1
434     30  Female   0.7  0.2      194    32    36  7.5  3.6  0.92      2

In [26]:
X_train.head()
Y_train.head()
X_test.shape
#Y_test.shape

(179, 10)

In [58]:
Y_test.values.sum()

47

In [72]:
dicty = {'activation' : 'relu', 'units' : 9, 'input_dim' : 9}
def gg(**kwargs):
    model = Sequential()
    model.add(Dense(**kwargs))
    model.add(Dense(units = 1,kernel_initializer= 'normal', activation = 'sigmoid'))
    return model
    #print(**kwargs)

In [77]:
mody = gg(**dicty)
mody.get_config()

[{'class_name': 'Dense',
  'config': {'name': 'dense_32',
   'trainable': True,
   'batch_input_shape': (None, 9),
   'dtype': 'float32',
   'units': 9,
   'activation': 'relu',
   'use_bias': True,
   'kernel_initializer': {'class_name': 'VarianceScaling',
    'config': {'scale': 1.0,
     'mode': 'fan_avg',
     'distribution': 'uniform',
     'seed': None}},
   'bias_initializer': {'class_name': 'Zeros', 'config': {}},
   'kernel_regularizer': None,
   'bias_regularizer': None,
   'activity_regularizer': None,
   'kernel_constraint': None,
   'bias_constraint': None}},
 {'class_name': 'Dense',
  'config': {'name': 'dense_33',
   'trainable': True,
   'units': 1,
   'activation': 'sigmoid',
   'use_bias': True,
   'kernel_initializer': {'class_name': 'RandomNormal',
    'config': {'mean': 0.0, 'stddev': 0.05, 'seed': None}},
   'bias_initializer': {'class_name': 'Zeros', 'config': {}},
   'kernel_regularizer': None,
   'bias_regularizer': None,
   'activity_regularizer': None,
   'kernel_constraint': None,
   'bias_constraint': None}}]

In [133]:
y_pred = model.predict(X_test)

In [130]:
from sklearn.metrics import confusion_matrix

In [152]:
cm = confusion_matrix(Y_test, (y_pred > 0.1))

In [157]:
print(cm)

[[  0 124]
 [  1  50]]

In [139]:
Y_test

561    0
26     0
448    0
223    1
315    1
210    0
231    0
89     0
488    1
567    0
395    1
434    1
430    0
116    0
394    0
416    0
257    0
523    0
531    0
503    0
463    0
443    0
32     1
378    0
528    0
317    0
506    0
540    1
551    1
140    1
      ..
13     0
31     0
471    1
284    0
479    0
507    0
428    1
514    0
124    1
369    0
314    0
508    0
309    0
6      0
355    1
194    1
354    0
19     0
482    0
239    0
480    1
40     0
387    0
400    1
432    0
301    0
516    0
52     0
56     1
566    1
Name: Label, Length: 175, dtype: int64